/* Base styles */
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem; /* Currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 2;
  width: 100vw;
  height: 100vh;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for small screens */
  body {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for extra small screens */
  body {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}
