/* Base styles */
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.7rem; /* Currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1.8;
  width: 100vw;
  height: 100vh;
}

.video-wrap {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {position:absolute; top:0; left:0; width:100%; height:100%;}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for small screens */
  body {
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for extra small screens */
  body {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
